.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    color: #6e5307;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inputs {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.buttonSubmit {
    font-size: 40px;
    font-family: fantasy;
    background-color: #6e5307;
    border-radius: 20px;
}
.buttonSubmit:hover {
    cursor: pointer;
    background-color: white;
    font-size: 40px;
}
.errors {
    font-size: 15px;
    color: red;
}